* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
body,
html {
  background-color: #030303;
  height: 100vh;
}

.hidden {
  display: none;
}

section {
  align-items: center;
}

.letters-container {
  font-size: clamp(33px, 8vw, 96px);
}

/* CSS animations */
@keyframes fade-down {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.letters-container span {
    display: inline-block;
    opacity: 1;
  animation: fade-down 400ms ease-in;
  animation-fill-mode: forwards;
}
.letters-container span:nth-child(1) {
  animation-delay: 100ms;
}
.letters-container span:nth-child(2) {
  animation-delay: 140ms;
}
.letters-container span:nth-child(3) {
  animation-delay: 180ms;
}
.letters-container span:nth-child(4) {
  animation-delay: 220ms;
}
.letters-container span:nth-child(5) {
  animation-delay: 260ms;
}
.letters-container span:nth-child(6) {
  animation-delay: 300ms;
}
.letters-container span:nth-child(7) {
  animation-delay: 340ms;
}
.letters-container span:nth-child(8) {
  animation-delay: 380ms;
}
.letters-container span:nth-child(9) {
  animation-delay: 420ms;
}
.letters-container span:nth-child(10) {
  animation-delay: 460ms;
}
.letters-container span:nth-child(11) {
  animation-delay: 500ms;
}
.letters-container span:nth-child(12) {
  animation-delay: 540ms;
}
.letters-container span:nth-child(13) {
  animation-delay: 580ms;
}
.letters-container span:nth-child(14) {
  animation-delay: 620ms;
}
.letters-container span:nth-child(15) {
  animation-delay: 660ms;
}
.letters-container span:nth-child(16) {
  animation-delay: 700ms;
}
.letters-container span:nth-child(17) {
  animation-delay: 740ms;
}
.letters-container span:nth-child(18) {
  animation-delay: 740ms;
}
.letters-container span:nth-child(19) {
  animation-delay: 740ms;
}
.letters-container span:nth-child(20) {
  animation-delay: 740ms;
}
.letters-container span:nth-child(21) {
  animation-delay: 740ms;
}


/* Animation for the Yes and No Buttons */
@keyframes fade-up {
    from{
        transform: translateY(40px);
        opacity: 0;
    } to {
        transform: translateY(0px);
        opacity: 1;
    }
}

#btnContainer button{
    animation: fade-up 500ms ease-out;
    opacity: 0;
    animation-fill-mode: forwards;
}

#btnContainer button:nth-child(1){
    animation-delay: 2000ms;
}
#btnContainer button:nth-child(2){
    animation-delay: 2000ms;
}